Source: systemd-unlinkedserver
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 7.0), dh-systemd
Standards-Version: 4.1.4
Homepage: https://github.com/lliurex/system-unlinkedServer

Package: systemd-unlinkedserver
Architecture: all
Depends: n4d, netplan.io
Description: systemd unit to bring up internal iface when link if down

