[Unit]
Description=Brings up internal iface
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/unlinkedServer/bringUp.sh
Restart=always
RestartSec=2
RestartPreventExitStatus=0
StartLimitInterval=200
StartLimitBurst=5

[Install]
WantedBy=multi-user.target

